@import "@voidforge/react/base.css";

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  inline-size: 100%;
  min-block-size: 100vb;
  text-align: center;
  background-color: var(--color-neutral-400);
}
