@import "tailwindcss";
@import "@deepcomet/forge-react/style.css";

@theme {
  --color-primary-50: var(--color-rose-50);
  --color-primary-100: var(--color-rose-100);
  --color-primary-200: var(--color-rose-200);
  --color-primary-300: var(--color-rose-300);
  --color-primary-400: var(--color-rose-400);
  --color-primary-500: var(--color-rose-500);
  --color-primary-600: var(--color-rose-600);
  --color-primary-700: var(--color-rose-700);
  --color-primary-800: var(--color-rose-800);
  --color-primary-900: var(--color-rose-900);
  --color-primary-950: var(--color-rose-950);
  --color-secondary-50: var(--color-sky-50);
  --color-secondary-100: var(--color-sky-100);
  --color-secondary-200: var(--color-sky-200);
  --color-secondary-300: var(--color-sky-300);
  --color-secondary-400: var(--color-sky-400);
  --color-secondary-500: var(--color-sky-500);
  --color-secondary-600: var(--color-sky-600);
  --color-secondary-700: var(--color-sky-700);
  --color-secondary-800: var(--color-sky-800);
  --color-secondary-900: var(--color-sky-900);
  --color-secondary-950: var(--color-sky-950);
  --color-neutral-50: var(--color-gray-50);
  --color-neutral-100: var(--color-gray-100);
  --color-neutral-200: var(--color-gray-200);
  --color-neutral-300: var(--color-gray-300);
  --color-neutral-400: var(--color-gray-400);
  --color-neutral-500: var(--color-gray-500);
  --color-neutral-600: var(--color-gray-600);
  --color-neutral-700: var(--color-gray-700);
  --color-neutral-800: var(--color-gray-800);
  --color-neutral-900: var(--color-gray-900);
  --color-neutral-950: var(--color-gray-950);
  --color-primary: var(--color-primary-500);
  --color-secondary: var(--color-secondary-500);
  --color-neutral: var(--color-neutral-500);
  --color-dark: var(--color-neutral-950);
  --color-light: var(--color-neutral-100);
}

.vf-base {
  --color-bg-neutral: var(--color-neutral-600);
  --color-bg-neutral-highlight: var(--color-neutral-500);
  --color-text: var(--color-light);
  --color-title: var(--color-primary-600);
}

dialog.vf-modal {
  --color-overlay-bg: color-mix(in srgb, var(--color-primary-700) 80%, transparent);
  --color-content-bg: var(--color-neutral-400);
}

html, body {
  inline-size: 100%;
  min-block-size: 100vb;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  inline-size: 100%;
  min-block-size: 100vb;
  text-align: center;
  background-color: var(--color-neutral-900);
}
